{% extends "site_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/profile_setup.css" />
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/style.css" />
    {{ wizard.form.media }}
{% endblock %}


{% block body %}
<!-- html code for summary page open -->
    <div class="summary-wrapp">

    <div class="summary-main">
    <div class="wrapper-main">
    <!-- search result wrapp open -->
    <div class="search-result-wrapp">
        <div class="container">
            <div class="row">
                <div class="col-md-12 search-result-top sign_wrap">
                    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
                    <h2>Tell Us About Yourself</h2>
                    <h3>Well, hello there Kristerlima.<br>
                        Why don’t you tell us a little bit about yourself.</h3>
                    <div class="wrap-cover">
                        <form action="" method="post">{% csrf_token %}
                            {{ wizard.management_form }}
                            {% if wizard.form.forms %}
                                {{ wizard.form.management_form }}
                                {% for form in wizard.form.forms %}
                                    {% crispy form %}
                                {% endfor %}
                            {% else %}
                                {{ form.non_field_errors }}
                                <div class="row">
                                    {{ form.name.errors }}

                                    {{ form.name }}

                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        {{ form.age.errors }}
                                        {{ form.age }}
                                    </div>

                                    <div class="col-lg-6 dropdown-select selecte-sub">
                                        <span>Gender:</span>
                                        {{ form.gender.errors }}
                                        {{ form.gender }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 dropdown-select">
                                        <span>Country:</span>
                                        {{ form.country.errors }}
                                        {{ form.country }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        {{ form.zipcode.errors }}
                                        {{ form.zipcode }}
                                    </div>
                                </div>

                                <div class="row text-left sub-wrap">

                                    <div class="col-lg-12">
                                        <p>By default, your profile will be publicly visible so you can show of your great taste to the world. </p>
                                    </div>

                                    <div class="col-lg-12">
                                        <h4>To hide your profile check this box :</h4>
                                        {{ form.private.errors }}
                                        {{ form.private }}
                                    </div>

                                    <div class="col-lg-12">
                                        <p>Linernotes can send you occasional helpful emails letting you know about concerts, new releases, great playlists etc. </p>
                                    </div>

                                    <div class="col-lg-12">
                                        <h4>To receive these emails check here :</h4>
                                        {{ form.receive_digests.errors }}
                                        {{ form.receive_digests }}
                                    </div>
                                </div>

                            {% endif %}

                            <input type="submit" value="Next Step" class="btn2" name="">

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- search result wrapp close -->


{% endblock %}


{% block extra_javascript %}
    <script type="text/javascript" src="{% get_static_prefix %}js/Selectyze.jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.selectyze1').Selectyze({
                theme : 'skype'
            });
        });
    </script>
{% endblock %}
<!--

-->