{% extends "site_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/profile_setup.css" />
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/style.css" />
    {{ wizard.form.media }}
{% endblock %}


{% block body %}
<!-- html code for summary page open -->
    <div class="summary-wrapp">

    <div class="summary-main">
        <div class="wrapper-main">
            <!-- search result wrapp open -->
            <div class="search-result-wrapp">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 search-result-top sign_wrap">
                            <p class="step_label">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
                            <h2>Get your collection started</h2>
                            <div class="col-lg-12">
                                Okay then, {{ wizard.form.real_name}}. <br>
                                We’re going to get your collection started so you can see what Linernotes has to offer.<br>
                                The easiest way to do this is to import your likes from another service.<br>
                                <br>
                            </div>
                            <h1>Click one of these services to start importing </h1>
                            <div class="img_cover">
                                <div class="row">
                                    <form action="" method="post">{% csrf_token %}
                                        <div class="col-lg-4"><input type="image" name="facebook" src="{% get_static_prefix %}images/facebook_img.jpg" ></div>
                                        <div class="col-lg-4"><input type="image" name="spotify" src="{% get_static_prefix %}images/spotify_img.jpg" ></div>
                                        <div class="col-lg-4"><img id="lastfm_img" type="image" src="{% get_static_prefix %}images/last_img.jpg" ></div>

                                        {{ wizard.management_form }}
                                        {% if wizard.form.forms %}
                                            {{ wizard.form.management_form }}
                                            {% for form in wizard.form.forms %}
                                                {% crispy form %}
                                            {% endfor %}
                                        {% else %}
                                            <div id="lastfm_okay" class="col-lg-12 text-center">
                                                <p>Great. Please enter your Last.fm username</p>
                                            </div>
                                            {{ form }}

                                        {% endif %}
                                        <div class="row">
                                            <div class="col-lg-3"> </div>
                                            <div id="no_okay" class="col-lg-12 text-center">
                                                <p >Don’t use any of these services?<br>
                                                    That’s okay!</p>
                                            </div>
                                            <div class="col-lg-3"> </div>
                                        </div>
                                        <input id="lastfm_submit_button" name="lastfm" type="submit" value="Import from Lastfm" class="btn">
                                        <input id="submit_button" type="submit" value="Just Click Here" class="btn" name="">

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row text-center">
                        <div class="wrap-cover">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- search result wrapp close -->


{% endblock %}


{% block extra_javascript %}
    <script type="text/javascript" src="{% get_static_prefix %}js/top5.js"></script>
{% endblock %}
