{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}

<h1 style="padding: 10px">Oops!</h1>
    <p style="padding: 10px">Look like there was a problem logging you in with Facebook. We might have done something wrong, or maybe the Facebook servers are taking a nap.</p>

<p style="padding: 10px">Why don't you try whatever you just did again, and if that doesn't work please <a href="mailto:george@linernotes.com?subject=Facebook login problem">email us</a> to let us know how you got here.</p>
{% endblock %}
